.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-opened {
  display: flex;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  padding: 36.51px 36px;
}

.popup__button-close {
  position: absolute;
  top: -50px;
  right: -50px;
  background-color: transparent;
  border: none;
}

.popup__button-close:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__button-close-image {
  width: 40px;
  height: 40px;
}

.popup__title {
  font-size: 24px;
  margin: 0;
}

.popup__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 29.74px;
  margin-top: 54px;
}

.popup__form-label {
  width: 100%;
}

.popup__form-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.popup__form-input_type_error {
  border-bottom-color: #ff0000;
}

.popup__form-error {
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  display: block;
  min-height: 14px;
}

.popup__form-button {
  margin-top: 18.26px;
  background-color: black;
  color: #ffffff;
  width: 358px;
  height: 50.15px;
  border: none;
  transition: opacity 0.3s;
}

.popup__form-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.popup__form-button_disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  opacity: 1;
}

.popup__form-button_disabled:hover {
  opacity: 1;
}

.popup__container {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.popup__image-enlarge {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

@media (max-width: 640px) {
  .popup__content {
    max-width: 282px;
  }

  .popup__button-close {
    top: -50px;
    right: 12px;
    max-width: 80%;
  }

  .popup__form-button {
    width: 238px;
    height: 46px;
  }
}
